.contato{
    max-width: 1200px;
    width: 100%;
    display: grid;
    grid-template-areas: 
        "title title title"
        "contato social link";
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-items: center;
    
}
.contato-container{
    grid-area: contato;
    display: flex;
    flex-direction: column;
    gap: 16px;
} 
.contato-container h3{
    font-size: 1.5rem;
}

.contato-item{
    display: flex;
    gap: 12px;
}

.contato-item__icon{
    font-size: 1.25rem;
}

.social-container{
    grid-area: social;
    display: flex;
    gap: 32px;
    justify-content: center;
}

.social{
    width: 64px;
    height: 64px;
    background-color: var(--icon-color);
    display: grid;
    place-content: center;
    font-size: 2rem;
    transition: color .5s;
}
.social:hover{
    color: var(--primary-color);
}


.link-container{
    grid-area: link;
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: right;
}

.link-container h3{
    font-size: 1.5rem;
}