.menu{
    display: flex;
    gap: 72px;
    font-size: 1.25rem;
}

li{
    border-bottom: 3px solid transparent;
    transition: border-color .6s;
}

li:hover{
    border-color: var(--primary-color);
}
