/* Tablet */
<!-- @media(max-width: 960px){

    header {
        display: flex;
        justify-content: space-around;
    }

    nav {
        display: none;
    }

    .icon {
        display: block;
        font-size: 1.5rem;
    }

    .home {
        position: relative;
        width: 100%;
        height: 220vh;
        gap: 15px;
    }   
    
    .profile {
        display: grid;
        place-items: center;
    }

    .grupTextos {
        display: grid;
        place-items: center;
    }

    .section-title {
        font-size: 6.5rem;
    }

    .sobre-mim{
        display: flex;
        flex-direction: column;
        height: 220vh;
        gap: 30px;
    }

    .descricao {
        display: flex;
        width: 810px;
        height: 300px;
        display: flex;
        padding-left: 90px;
    }

    .skills {
        display: flex;
        flex-direction: column;
        padding-left: 90px;
        width: 60%;
   }
 
   .projetos{
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 0%;
    }

    .card-container {
        width: 55%;
        display: flex;
        justify-content: center;
        gap: 0%;
    }
    
    .card-container img {
        width: 600px;
      }

    
} 