.sobre-mim{
    max-width: 1200px;
    width: 100%;
   display: grid;
   grid-template-areas: 
        "title title"
        "descricao skills";
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 64px;
}


.descricao{
    grid-area: descricao;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.descricao__title{
    font-size: 48px;
    color: var(--primary-color);
}

.descricao__text{
    font-size: 1.5rem;
    width: 85%;
    line-height: 150%;
}


.skills{
    grid-area: skills;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.skills__title{
    font-size: 48px;
    color: var(--primary-color);
}

.skills__container{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.skills__icon{
    width: 150px;
    height: 150px;
    background-color: var(--icon-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.skills__icon i{
    font-size: 2.5rem;
}

.skills__icon span{
    font-weight: 700;
}