.sobre-mim{
    max-width: 1200px;
    width: 100%;
   display: grid;
   grid-template-areas: 
        "title title"
        "descricao skills";
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 64px;
}

.section-title{
    grid-area: title;
    font-size: 220px;
    text-align: center;
    background-image: linear-gradient(#666, #000);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.descricao{
    grid-area: descricao;
    background-color: yellow;
}

.skills{
    grid-area: skills;
    background-color: violet;
}