:root{
    --primary-color: #FEDC00;
    --icon-color: #252525;

}


/* usado para descer a linha mais suave quando clicar em algum link da tela */
html{
    scroll-behavior: smooth;
}


body{
    display: grid;
    grid-template-areas: "content";
    font-family: 'Ubuntu', sans-serif;
    color: white;
    background-color: #000;
}


header{
    grid-area: content;
    place-self: start center;
    z-index: 1;
    max-width: 1200px;
    width: 100%;
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


main{
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* conteudo do main */
section{
    height: 100vh;
}


footer{
    grid-area: content;
    place-self: end center;
    height: 50px;
    width: 100%;
    display: grid;
    place-content: center;
    border-top: 2px solid #fff;
    font-size: .75rem;
}